# Importing Dependencies

In [1]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

# Accessing the website using request module

In [2]:
source = requests.get('https://www.imdb.com/chart/top/')

#extracting the html source code and parsing it 
soup = bs(source.text, 'html.parser')

# Code to Access the tbody tag

In [3]:
#We first find main tbody tag that has the list of all the movies 
# then we find the list of number of movies inside the tbody tag
#find_all always returns a list 
movies = soup.find('tbody', class_= 'lister-list').find_all('tr')
print(len(movies))

250

for accessing all the < tr > tags

In [4]:
#this will return the while information of the first <tr> tag
for movie in movies:
    print(movie)
    break

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="9.23524689308548" name="ir"></span>
<span data-value="7.791552E11" name="us"></span>
<span data-value="2671612" name="nv"></span>
<span data-value="-1.7647531069145206" name="ur"></span>
<a href="/title/tt0111161/"> <img alt="The Shawshank Redemption" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,671,612 user ratings">9.2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0111161 pending" data-titleid="tt0111161">
<div class="boundary">
<div class="popover">
<span class="delete"> </span><ol><li>1<li>2<li>3<li>4<li>5<li>6<li>7<li>8<li>9<li>10</li></li></li></li></li></li></li></li></li></li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0111161"></div>
</td>
</tr>

# Fetching the movie rank, name, rating for the first movie

In [5]:
#Name of the movie  
for movie in movies:
    name = movie.find('td', class_='titleColumn').a.text
    print(name)
    break

# .a because the information we need is inside the tag a.

The Shawshank Redemption

In [6]:
#Rank of the movie-
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').text
    print(rank)
    break

      1.
      The Shawshank Redemption
(1994)

In [7]:
#Rank of the movie--- we remove the additional information by stripping the text 
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip= True)
    print(rank)
    break

1.The Shawshank Redemption(1994)

In [8]:
#Rank of the movie- we convert the rank into the list and select the data at 0th index
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')
    print(rank)
    break

['1', 'The Shawshank Redemption(1994)']

In [9]:
#Rank of the movie-- we finally have the rank 
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]
    print(rank)
    break

1

In [10]:
#Now we find the Year in which the movie was released 
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]

    year = movie.find('td', class_ = 'titleColumn').span.text
    print(year)
    break

(1994)

In [11]:
#Release Year - we strip down the unnecessary brackets 
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]

    year = movie.find('td', class_ = 'titleColumn').span.text.strip('()')
    print(year)
    break

1994

In [12]:
#Rating of the movie  
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]

    year = movie.find('td', class_ = 'titleColumn').span.text.strip('()')

    rating = movie.find('td', class_= 'ratingColumn imdbRating' )
    print(rating)
    break

<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,671,612 user ratings">9.2</strong>
</td>

In [13]:
#Rating  of the movie-- we access the text inside the <strong> tag
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]

    year = movie.find('td', class_ = 'titleColumn').span.text.strip('()')

    rating = movie.find('td', class_= 'ratingColumn imdbRating' ).strong.text
    print(rating)
    break

9.2

In [14]:
#Formatting the information we extracted 
for movie in movies:
    name = movie.find('td', class_= 'titleColumn').a.text

    rank = movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0]

    year = movie.find('td', class_ = 'titleColumn').span.text.strip('()')

    rating = movie.find('td', class_= 'ratingColumn imdbRating' ).strong.text
    print(rank, name, year, rating )
    break

1 The Shawshank Redemption 1994 9.2

# Fetching data of all the movies

In [15]:
names = []       #Name of the movie 
ranks = []      # Rank of the movie
years = []      # Year in which movie was released 
ratings = []    # IMDB Rating of the movie 

for movie in movies:
    names.append(movie.find('td', class_= 'titleColumn').a.text)

    ranks.append(movie.find('td', class_ = 'titleColumn').get_text(strip = True).split('.')[0])

    years.append(movie.find('td', class_ = 'titleColumn').span.text.strip('()'))

    ratings.append(movie.find('td', class_= 'ratingColumn imdbRating' ).strong.text)
    

for name, rank, year, rating in zip(names, ranks, years, ratings):
    print(name, rank, year, rating)

The Shawshank Redemption 1 1994 9.2
The Godfather 2 1972 9.2
The Dark Knight 3 2008 9.0
The Godfather Part II 4 1974 9.0
12 Angry Men 5 1957 9.0
Schindler's List 6 1993 8.9
The Lord of the Rings: The Return of the King 7 2003 8.9
Pulp Fiction 8 1994 8.8
The Lord of the Rings: The Fellowship of the Ring 9 2001 8.8
Il buono, il brutto, il cattivo 10 1966 8.8
Forrest Gump 11 1994 8.8
Fight Club 12 1999 8.7
The Lord of the Rings: The Two Towers 13 2002 8.7
Inception 14 2010 8.7
The Empire Strikes Back 15 1980 8.7
The Matrix 16 1999 8.7
Goodfellas 17 1990 8.7
One Flew Over the Cuckoo's Nest 18 1975 8.6
Se7en 19 1995 8.6
Shichinin no samurai 20 1954 8.6
It's a Wonderful Life 21 1946 8.6
The Silence of the Lambs 22 1991 8.6
Cidade de Deus 23 2002 8.6
Saving Private Ryan 24 1998 8.6
La vita è bella 25 1997 8.6
Interstellar 26 2014 8.6
The Green Mile 27 1999 8.6
Star Wars 28 1977 8.6
Terminator 2: Judgment Day 29 1991 8.5
Back to the Future 30 1985 8.5
Sen to Chihiro no kamikakushi 31 2001 8.5
Psycho 32 1960 8.5
The Pianist 33 2002 8.5
Gisaengchung 34 2019 8.5
Léon 35 1994 8.5
The Lion King 36 1994 8.5
Gladiator 37 2000 8.5
American History X 38 1998 8.5
The Departed 39 2006 8.5
The Usual Suspects 40 1995 8.5
The Prestige 41 2006 8.5
Whiplash 42 2014 8.5
Casablanca 43 1942 8.5
Seppuku 44 1962 8.5
Hotaru no haka 45 1988 8.5
The Intouchables 46 2011 8.5
Modern Times 47 1936 8.4
Once Upon a Time in the West 48 1968 8.4
Rear Window 49 1954 8.4
Nuovo Cinema Paradiso 50 1988 8.4
Alien 51 1979 8.4
City Lights 52 1931 8.4
Apocalypse Now 53 1979 8.4
Memento 54 2000 8.4
Raiders of the Lost Ark 55 1981 8.4
Django Unchained 56 2012 8.4
WALL·E 57 2008 8.4
The Lives of Others 58 2006 8.4
Sunset Blvd. 59 1950 8.4
Paths of Glory 60 1957 8.4
The Great Dictator 61 1940 8.4
The Shining 62 1980 8.4
Avengers: Infinity War 63 2018 8.4
Witness for the Prosecution 64 1957 8.4
Aliens 65 1986 8.3
Spider-Man: Into the Spider-Verse 66 2018 8.3
American Beauty 67 1999 8.3
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 68 1964 8.3
The Dark Knight Rises 69 2012 8.3
Oldeuboi 70 2003 8.3
Amadeus 71 1984 8.3
Inglourious Basterds 72 2009 8.3
Joker 73 2019 8.3
Coco 74 2017 8.3
Toy Story 75 1995 8.3
Braveheart 76 1995 8.3
Das Boot 77 1981 8.3
Avengers: Endgame 78 2019 8.3
Mononoke-hime 79 1997 8.3
Once Upon a Time in America 80 1984 8.3
Good Will Hunting 81 1997 8.3
Kimi no Na wa. 82 2016 8.3
Top Gun: Maverick 83 2022 8.3
Requiem for a Dream 84 2000 8.3
3 Idiots 85 2009 8.3
Singin' in the Rain 86 1952 8.3
Toy Story 3 87 2010 8.3
Tengoku to jigoku 88 1963 8.3
Star Wars: Episode VI - Return of the Jedi 89 1983 8.3
Capharnaüm 90 2018 8.3
2001: A Space Odyssey 91 1968 8.3
Eternal Sunshine of the Spotless Mind 92 2004 8.3
Reservoir Dogs 93 1992 8.3
Jagten 94 2012 8.3
Idi i smotri 95 1985 8.3
Citizen Kane 96 1941 8.3
M - Eine Stadt sucht einen Mörder 97 1931 8.3
Lawrence of Arabia 98 1962 8.3
North by Northwest 99 1959 8.2
Vertigo 100 1958 8.2
Le fabuleux destin d'Amélie Poulain 101 2001 8.2
A Clockwork Orange 102 1971 8.2
The Apartment 103 1960 8.2
Ikiru 104 1952 8.2
Double Indemnity 105 1944 8.2
Full Metal Jacket 106 1987 8.2
Hamilton 107 2020 8.2
Scarface 108 1983 8.2
To Kill a Mockingbird 109 1962 8.2
The Sting 110 1973 8.2
Incendies 111 2010 8.2
Up 112 2009 8.2
Heat 113 1995 8.2
Taxi Driver 114 1976 8.2
Jodaeiye Nader az Simin 115 2011 8.2
Metropolis 116 1927 8.2
L.A. Confidential 117 1997 8.2
Die Hard 118 1988 8.2
Snatch 119 2000 8.2
Indiana Jones and the Last Crusade 120 1989 8.2
Ladri di biciclette 121 1948 8.2
Taare Zameen Par 122 2007 8.2
1917 123 2019 8.2
Der Untergang 124 2004 8.2
Per qualche dollaro in più 125 1965 8.2
Dangal 126 2016 8.2
Batman Begins 127 2005 8.2
The Kid 128 1921 8.2
Some Like It Hot 129 1959 8.2
The Father 130 2020 8.2
All About Eve 131 1950 8.2
Green Book 132 2018 8.2
The Wolf of Wall Street 133 2013 8.2
Judgment at Nuremberg 134 1961 8.2
Ran 135 1985 8.2
Casino 136 1995 8.2
Pan's Labyrinth 137 2006 8.2
Unforgiven 138 1992 8.2
There Will Be Blood 139 2007 8.2
The Truman Show 140 1998 8.2
The Sixth Sense 141 1999 8.2
A Beautiful Mind 142 2001 8.2
Shutter Island 143 2010 8.1
Yôjinbô 144 1961 8.1
Monty Python and the Holy Grail 145 1975 8.1
The Treasure of the Sierra Madre 146 1948 8.1
Spider-Man: No Way Home 147 2021 8.1
Jurassic Park 148 1993 8.1
The Great Escape 149 1963 8.1
Rashômon 150 1950 8.1
Kill Bill: Vol. 1 151 2003 8.1
No Country for Old Men 152 2007 8.1
Finding Nemo 153 2003 8.1
The Thing 154 1982 8.1
The Elephant Man 155 1980 8.1
Chinatown 156 1974 8.1
Raging Bull 157 1980 8.1
Gone with the Wind 158 1939 8.1
V for Vendetta 159 2005 8.1
Inside Out 160 2015 8.1
Lock, Stock and Two Smoking Barrels 161 1998 8.1
Dial M for Murder 162 1954 8.1
El secreto de sus ojos 163 2009 8.1
Hauru no ugoku shiro 164 2004 8.1
The Bridge on the River Kwai 165 1957 8.1
Three Billboards Outside Ebbing, Missouri 166 2017 8.1
Trainspotting 167 1996 8.1
Warrior 168 2011 8.1
Fargo 169 1996 8.1
Gran Torino 170 2008 8.1
Prisoners 171 2013 8.1
Tonari no Totoro 172 1988 8.1
Catch Me If You Can 173 2002 8.1
Million Dollar Baby 174 2004 8.1
Bacheha-Ye aseman 175 1997 8.1
Blade Runner 176 1982 8.1
The Gold Rush 177 1925 8.1
On the Waterfront 178 1954 8.1
Before Sunrise 179 1995 8.1
12 Years a Slave 180 2013 8.1
Harry Potter and the Deathly Hallows - Part 2 181 2011 8.1
Ben-Hur 182 1959 8.1
Smultronstället 183 1957 8.1
Gone Girl 184 2014 8.1
The Third Man 185 1949 8.1
The General 186 1926 8.1
The Grand Budapest Hotel 187 2014 8.1
The Deer Hunter 188 1978 8.1
In the Name of the Father 189 1993 8.1
Klaus 190 2019 8.1
Le salaire de la peur 191 1953 8.1
Barry Lyndon 192 1975 8.1
Hacksaw Ridge 193 2016 8.1
Sherlock Jr. 194 1924 8.1
Mr. Smith Goes to Washington 195 1939 8.1
Salinui chueok 196 2003 8.1
Relatos salvajes 197 2014 8.1
Det sjunde inseglet 198 1957 8.1
Mad Max: Fury Road 199 2015 8.1
Room 200 2015 8.1
Mary and Max. 201 2009 8.1
How to Train Your Dragon 202 2010 8.1
Monsters, Inc. 203 2001 8.1
The Big Lebowski 204 1998 8.1
Jaws 205 1975 8.1
Dead Poets Society 206 1989 8.1
La passion de Jeanne d'Arc 207 1928 8.1
Tôkyô monogatari 208 1953 8.1
Hotel Rwanda 209 2004 8.1
Ford v Ferrari 210 2019 8.0
Rocky 211 1976 8.0
Platoon 212 1986 8.0
Spotlight 213 2015 8.0
The Terminator 214 1984 8.0
Stand by Me 215 1986 8.0
Logan 216 2017 8.0
Ratatouille 217 2007 8.0
Rush 218 2013 8.0
Pather Panchali 219 1955 8.0
Network 220 1976 8.0
Into the Wild 221 2007 8.0
The Wizard of Oz 222 1939 8.0
Before Sunset 223 2004 8.0
Groundhog Day 224 1993 8.0
The Exorcist 225 1973 8.0
The Best Years of Our Lives 226 1946 8.0
The Incredibles 227 2004 8.0
To Be or Not to Be 228 1942 8.0
La battaglia di Algeri 229 1966 8.0
Hachi: A Dog's Tale 230 2009 8.0
La haine 231 1995 8.0
Jai Bhim 232 2021 8.0
Pirates of the Caribbean: The Curse of the Black Pearl 233 2003 8.0
The Grapes of Wrath 234 1940 8.0
Rebecca 235 1940 8.0
Babam ve Oglum 236 2005 8.0
Amores perros 237 2000 8.0
Cool Hand Luke 238 1967 8.0
Les quatre cents coups 239 1959 8.0
Ah-ga-ssi 240 2016 8.0
Persona 241 1966 8.0
It Happened One Night 242 1934 8.0
The Sound of Music 243 1965 8.0
Life of Brian 244 1979 8.0
Everything Everywhere All at Once 245 2022 8.0
Dersu Uzala 246 1975 8.0
Aladdin 247 1992 8.0
The Iron Giant 248 1999 8.0
The Help 249 2011 8.0
Gandhi 250 1982 8.0

# Creating a DataFrame of the Movie Data

In [16]:
MovieRating = pd.DataFrame({
    'Rank' : ranks,
    'Movie_Title' : names,
    'Year' : years,
    'IMDB_Ratings' : ratings
 })

In [17]:
MovieRating.head()

  Rank               Movie_Title  Year IMDB_Ratings
0    1  The Shawshank Redemption  1994          9.2
1    2             The Godfather  1972          9.2
2    3           The Dark Knight  2008          9.0
3    4     The Godfather Part II  1974          9.0
4    5              12 Angry Men  1957          9.0

# Exporting Data to .csv

In [18]:
MovieRating.to_csv('MovieRatings.csv', encoding= 'utf-8', index = False )
print('Data Exported to MovieRatings.csv')

Data Exported to MovieRatings.csv